src/com/base/excel/formworkValuesSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="qualified">

	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="formworkValues" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="formworkValue" maxOccurs="unbounded"></xs:element>
						</xs:sequence>
						<xs:attribute name="name"></xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>